nz-sider {
  .ant-layout-sider-children {
    background: rgba(71, 13, 122, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
  }
}
