<nz-sider class="wrapper">
  <div class="d-flex flex-col align-center sidebar-logo-wrapper">
    <img [ngClass]="isCollapsed ? 'logo logo-sm' : 'logo logo-lg'" src="../../../../assets/images/logo_colored.png" alt="" srcset="">
    <h3 nz-typography [nzContent]="isCollapsed ? '' : 'Befy'" class="title-light"></h3>
  </div>
  <button class="btn-collapse" nz-button nzType="primary" (click)="toggleCollapsed()">
    <span nz-icon [nzType]="isCollapsed ? 'right' : 'left'"></span>
  </button>
  <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed" [ngClass]="isCollapsed ? 'sidebar-close' : 'sidebar-open'">
    <li
      nz-menu-item
      nz-tooltip
      nzTooltipPlacement="right"
      [nzTooltipTitle]="isCollapsed ? 'Home' : ''"
      nzSelected
    >
      <span nz-icon nzType="home"></span>
      <span>Home</span>
    </li>
    <li
      nz-menu-item
      nz-tooltip
      nzTooltipPlacement="right"
      [nzTooltipTitle]="isCollapsed ? 'Discover' : ''"
    >
      <span nz-icon nzType="compass"></span>
      <span>Discover</span>
    </li>
    <li
    nz-menu-item
    nz-tooltip
    nzTooltipPlacement="right"
    [nzTooltipTitle]="isCollapsed ? 'Trending' : ''"
  >
    <span nz-icon nzType="stock"></span>
    <span>Trending</span>
  </li>
    <li
      nz-menu-item
      nz-tooltip
      nzTooltipPlacement="right"
      [nzTooltipTitle]="isCollapsed ? 'Favorite' : ''"
    >
      <span nz-icon nzType="heart"></span>
      <span>Favorite</span>
    </li>
  </ul>
</nz-sider>
